name: Release
on:
  release:
    types: [created]

env:
  GO_VERSION: "1.25"

jobs:
  create-release-notes:
    name: release-notes
    runs-on: ubuntu-latest
    environment:
      name: Release

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.release.tag_name }}
          name: ${{ github.event.release.tag_name }}
          draft: false
          prerelease: false
          make_latest: "true"
          token: ${{ secrets.SLEY_TOKEN }}
          body_path: ${{ github.workspace }}/.changes/${{ github.event.release.tag_name }}.md
          generate_release_notes: false

  goreleaser:
    name: goreleaser
    runs-on: ubuntu-latest
    needs: create-release-notes
    environment:
      name: Release

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          cache-dependency-path: go.sum
          check-latest: true

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.HOMEBREW_TOKEN }}
